<!-- jobs list -->
<section class="jobs-list">
  <div class="jobs-list__options">
    <ul>
      <li>
        <a href="">
          <h5>رزومه های ارسال شده</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>مشاغل پیشنهادی</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>مشاغل نشان داده شده</h5>
        </a>
      </li>
      <li>
        <a href="">
          <h5>شرکت های دنبال شده</h5>
        </a>
      </li>
    </ul>
  </div>
  <div class="jobs-list__filter">
    <h5 class="droidkufi">10 فرصت شغلی</h5>
    <select name="" id="">
      <option value=""><h5>منطبق ترین</h5></option>
      <option value=""><h5>جدیدترین</h5></option>
    </select>
  </div>
  <div class="ads__jobs">
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
  </div>
</section>
