<!-- about company -->
<section class="about-company">
  <div class="about-company__options">
    <a href="" class="selected"> <h4>درباره شرکت</h4></a>
    <a href=""><h4>فرصت های شغلی</h4></a>
  </div>
  <div class="about-company__detail">
    <div>
      <h4>سال تاسیس</h4>
      <h6 class="titr">1361</h6>
    </div>
    <div>
      <h4>صنعت</h4>
      <h6>خودرو و صنایع وابسته</h6>
    </div>
    <div>
      <h4>نوع مالکیت</h4>
      <h6>خصوصی</h6>
    </div>
    <div>
      <h4>نوع فعالیت</h4>
      <h6>شرکت ایرانی دارای مشتریان داخلی</h6>
    </div>
    <div>
      <h4>آدرس وبسایت</h4>
      <h6 style="font-family: sans-serif">crouse.ir</h6>
    </div>
  </div>
  <div class="about-company__explaination">
    <div class="about-us">
      <h3>درباره ما</h3>
      <p class="about-us__text"></p>
    </div>
    <div class="drop-down">
      <div class="products">
        <h3>محصولات و خدمات</h3>
        <p>انواع قطعات خودرو</p>
      </div>
      <div class="benefits">
        <h3>مزایا و امکانات رفاهی</h3>
        <ul>
          <li>
            <img
              src="./Assets/images/check-circle-svgrepo-com.svg"
              alt="check"
            />
            <p>سرویس رفت و برگشت</p>
          </li>
          <li>
            <img
              src="./Assets/images/check-circle-svgrepo-com.svg"
              alt="check"
            />
            <p>پاداش</p>
          </li>
          <li>
            <img
              src="./Assets/images/check-circle-svgrepo-com.svg"
              alt="check"
            />
            <p>وام</p>
          </li>
          <li>
            <img
              src="./Assets/images/check-circle-svgrepo-com.svg"
              alt="check"
            />
            <p>بیمه درمان تکمیلی</p>
          </li>
          <li>
            <img
              src="./Assets/images/check-circle-svgrepo-com.svg"
              alt="check"
            />
            <p>بن خرید</p>
          </li>
          <li>
            <img
              src="./Assets/images/check-circle-svgrepo-com.svg"
              alt="check"
            />
            <p>ناهار</p>
          </li>
          <li>
            <img
              src="./Assets/images/check-circle-svgrepo-com.svg"
              alt="check"
            />
            <p>پزشک سازمانی</p>
          </li>
          <li>
            <img
              src="./Assets/images/check-circle-svgrepo-com.svg"
              alt="check"
            />
            <p>بسته ها و هدایای مناسبتی</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="about-company__close-btn">
      <h4>توضیحات بیشتر</h4>
      <span> > </span>
    </div>
  </div>
</section>
