<!-- company jobs list -->
<section class="company-jobs">
  <h3>فرصت های شغلی</h3>
  <div class="company-jobs__list">
    <div class="ads__jobs__option company-jobs__list__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img src="./Assets/images/LogoFile-605.png" alt="company-picture" />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>تکنسین ماشین سازی(ساخت و تولید) - آقا</h3>
            <p>صنایع تولیدی کروز</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>تهران، جاده مخصوص</p>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--primary">
          <a href="./job-detail.html"><h5>مشاهده</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option company-jobs__list__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img src="./Assets/images/LogoFile-605.png" alt="company-picture" />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3 style="font-family: sans-serif">
              Embedded Linux Application (C++/Qt) Developer
            </h3>
            <p>صنایع تولیدی کروز</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>تهران، جاده مخصوص</p>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--primary">
          <a href="./job-detail.html"><h5>مشاهده</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option company-jobs__list__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img src="./Assets/images/LogoFile-605.png" alt="company-picture" />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3 style="font-family: sans-serif">
              Embedded Linux System Developer
            </h3>
            <p>صنایع تولیدی کروز</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>تهران، جاده مخصوص</p>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--primary">
          <a href="./job-detail.html"><h5>مشاهده</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option company-jobs__list__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img src="./Assets/images/LogoFile-605.png" alt="company-picture" />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارشناس تست نرم افزار سیستم های میکروکنترلری</h3>
            <p>صنایع تولیدی کروز</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>تهران، جاده مخصوص</p>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--primary">
          <a href="./job-detail.html"><h5>مشاهده</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option company-jobs__list__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img src="./Assets/images/LogoFile-605.png" alt="company-picture" />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>تدوین گر و فیلمبردار - آقا</h3>
            <p>صنایع تولیدی کروز</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>تهران، جاده مخصوص</p>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--primary">
          <a href="./job-detail.html"><h5>مشاهده</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option company-jobs__list__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img src="./Assets/images/LogoFile-605.png" alt="company-picture" />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>تکنسین تعمیرات برق - آقا</h3>
            <p>صنایع تولیدی کروز</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>تهران، جاده مخصوص</p>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--primary">
          <a href="./job-detail.html"><h5>مشاهده</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option company-jobs__list__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img src="./Assets/images/LogoFile-605.png" alt="company-picture" />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارشناس <span style="font-family: sans-serif">UI/UX</span></h3>
            <p>صنایع تولیدی کروز</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>تهران، جاده مخصوص</p>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--primary">
          <a href="./job-detail.html"><h5>مشاهده</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option company-jobs__list__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img src="./Assets/images/LogoFile-605.png" alt="company-picture" />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارشناس مهندسی محصول (مهندس برق الکترونیک)</h3>
            <p>صنایع تولیدی کروز</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>تهران، جاده مخصوص</p>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--primary">
          <a href="./job-detail.html"><h5>مشاهده</h5></a>
        </button>
      </div>
    </div>
  </div>
</section>
