<!-- company info -->
<section class="company-info">
  <div class="company-info__img">
    <img src="./Assets/images/HeaderFile-605.jpg" alt="" />
  </div>
  <div class="company-info__detail">
    <div class="company-info__detail__img">
      <img src="./Assets/images/LogoFile-605.png" alt="" />
    </div>
    <div class="company-info__detail__explaination">
      <h1>صنایع تولیدی کروز</h1>
      <div>
        <h5 style="font-family: sans-serif">crouse.ir</h5>
        <h5>بیش از 5000 نفر</h5>
      </div>
      <h4>تولید انواع قطعات خودرو</h4>
    </div>
    <div class="company-info__detail__follow-btn">
      <button class="btn btn--primary">
        <a href="#">
          <h5>دنبال کردن</h5>
        </a>
      </button>
    </div>
  </div>
</section>
