<!-- job ads -->
<section class="ads">
  <h2>تازه‌ترین آگهی‌های شغلی برای شما</h2>
  <div class="ads__jobs">
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
    <div class="ads__jobs__option">
      <a href="./job-detail.html">
        <div class="ads__jobs__option__explaination">
          <div class="ads__jobs__option__explaination__img">
            <img
              src="./Assets/images/لوگو سازمان 18397.png"
              alt="company-picture"
            />
          </div>
          <div class="ads__jobs__option__explaination__detail">
            <h3>کارمند اداری</h3>
            <p>شرکت نخبگان</p>
            <div
              class="ads__jobs__option__explaination__detail__address-salary"
            >
              <p>سمنان، پارک علم و فناوری</p>
              <h6 class="titr">8 - 10 میلیون تومان</h6>
            </div>
          </div>
        </div>
      </a>
      <div class="ads__jobs__option__date-submit">
        <h6>دیروز</h6>
        <button class="btn btn--secondary">
          <a href="./job-detail.html"><h5>ارسال رزومه</h5></a>
        </button>
      </div>
    </div>
  </div>
  <button class="btn btn--primary">
    <a href="./all-job-ads.html"><h5>موقعیت های شغلی بیشتر</h5></a>
  </button>
</section>
