<!-- footer -->
<footer class="footer-container">
  <div class="first">
    <div class="first__right">
      <div>
        <div class="first__right-heading">
          <h2>کارجویان</h2>
        </div>
        <div class="first__right-list">
          <ul>
            <li>
              <a href=""><h5>رزومه ساز دو زبانه</h5></a>
            </li>
            <li>
              <a href=""><h5>جستجوی فرصت‌های شغلی</h5></a>
            </li>
            <li>
              <a href=""><h5>آزمون‌های خود شناسی</h5></a>
            </li>
            <li>
              <a href="#q-and-a"><h5>سوالات متداول</h5></a>
            </li>
            <li>
              <a href=""><h5>دوره‌های آموزشی</h5></a>
            </li>
            <li>
              <a href=""><h5>رده بندی شرکت ها</h5></a>
            </li>
            <li>
              <a href=""><h5>آشنایی با شرکت ها</h5></a>
            </li>
            <li>
              <a href=""
                ><h5>داده‌های بازار کار</h5>
                s</a
              >
            </li>
          </ul>
        </div>
      </div>

      <div class="first__left-list">
        <h2>درباره کارآگاه</h2>
        <div>
          <ul>
            <li>
              <a href=""><h5>درباره ما</h5></a>
            </li>
            <li>
              <a href=""><h5>سوالات متداول</h5></a>
            </li>
            <li>
              <a href=""><h5>تماس با ما</h5></a>
            </li>
            <li>
              <a href=""><h5>قوانین و مقررات</h5></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="first__left">
      <a href=""><img src="Assets/images/logo.png" alt="" /></a>
      <a href=""><img src="Assets/images/logo.png" alt="" /></a>
    </div>
  </div>

  <div class="second">
    <div class="footer-logo andalus">
      <a href="./home.html"><h1 class="andalus">کارآگاه</h1></a>
    </div>
    <div class="social-media-logo">
      <a href=""
        ><img
          class="footer-img"
          src="Assets/images/twitter-154-svgrepo-com.svg"
          alt=""
      /></a>
      <a href=""
        ><img
          class="footer-img"
          src="Assets/images/linkedin-svgrepo-com.svg"
          alt=""
      /></a>
      <a href=""
        ><img
          class="footer-img"
          src="Assets/images/telegram-alt-svgrepo-com.svg"
          alt=""
      /></a>
      <a href=""
        ><img
          class="footer-img"
          src="Assets/images/instagram-167-svgrepo-com.svg"
          alt=""
      /></a>
    </div>
  </div>
</footer>
