<!-- header -->
<header class="header">
  <div class="header__search">
    <div class="header__search__job">
      <div>
        <h5>چه شغلی؟</h5>
        <input type="text" placeholder="عنوان شغلی یا شرکت . . ." />
      </div>
      <div>
        <h5>گروه شغلی؟</h5>
        <select>
          <option value=""><h5>فروش و بازاریابی</h5></option>
          <option value=""><h5>مدیریت</h5></option>
          <option value=""><h5>خدمات و پشتیبانی مشتریان</h5></option>
          <option value=""><h5>تست نرم افزار</h5></option>
          <option value=""><h5>طراحی</h5></option>
        </select>
      </div>
    </div>
    <div class="header__search__city">
      <h5>کجا؟</h5>
      <input type="text" placeholder="شهر" />
    </div>
    <button class="btn btn--primary">
      <img
        src="./Assets/images/search-magnifying-glass-svgrepo-com.svg"
        alt="search"
      />
      <a href="./all-job-ads.html"> <h5>جستجو در مشاغل</h5></a>
    </button>
  </div>
</header>
