<!-- QaA -->
<section class="q-and-a" id="q-and-a">
  <h1>سوالات متداول درباره سایت استخدام و کاریابی کارآگاه</h1>
  <div class="questions">
    <div class="questions__part">
      <div class="question" data-id="1">
        <div class="q-num"><h4 class="titr">1</h4></div>
        <p>آیا ساخت و ارسال رزومه در کارآگاه برای من هزینه‌ای دارد؟</p>
      </div>
      <div class="answer" data-id="1">
        <p>
          خیر، کارجویان می‌توانند بدون پرداخت هیچ هزینه‌ای در سایت کاریابی
          کارآگاه رزومه بسازند و برای آگهی‌های استخدام ارسال کنند.
        </p>
      </div>
    </div>
    <div class="questions__part">
      <div class="question" data-id="2">
        <div class="q-num"><h4 class="titr">2</h4></div>
        <p>چگونه می‌توانم آگهی‌های استخدام مشاغل مرتبط با خودم را پیدا کنم؟</p>
      </div>
      <div class="answer" data-id="2">
        <p>
          شما می‌توانید به راحتی با استفاده از نوار جستجوی بالای سایت و انتخاب
          فیلترهای مختلف، آگهی‌های استخدامی حوزه مرتبط با خودتان را پیدا کنید.
        </p>
      </div>
    </div>
    <div class="questions__part">
      <div class="question" data-id="3">
        <div class="q-num"><h4 class="titr">3</h4></div>
        <p>چگونه می‌توانم از جدیدترین آگهی‌های استخدام مطلع شوم؟</p>
      </div>
      <div class="answer" data-id="3">
        <p>
          شما می‌توانید با فعالسازی گزینه ایمیل اطلاع رسانی و عضویت در بات
          تلگرامی جاب ویژن، از جدیدترین آگهی‌های استخدام و کاریابی حوزه شغلی خود
          مطلع شوید.
        </p>
      </div>
    </div>
    <div class="questions__part">
      <div class="question" data-id="4">
        <div class="q-num"><h4 class="titr">4</h4></div>
        <p>
          آیا محدودیتی در ارسال رزومه برای آگهی‌های استخدامی در سایت جاب ویژن
          وجود دارد؟
        </p>
      </div>
      <div class="answer" data-id="4">
        <p>
          خیر؛ شما می‌توانید رزومه خودتان را به صورت کاملا رایگان برای تعداد
          نامحدودی از آگهی‌های استخدام ارسال کنید.
        </p>
      </div>
    </div>
  </div>
  <h1>استخدام با معتبرترین سایت کاریابی و استخدامی استان سمنان</h1>
  <p>
    پیدا کردن شغل دلخواه و فرصت استخدام جدید در سازمانی معتبر با شرایط مطلوب
    کاری آسان نیست. فرآیند پیدا کردن شغل و کاریابی، همواره مسیری با ناهمواری‌های
    زیاد برای کارجویان بوده و هست. وضعیت نه‌چندان مطلوب بازار کار در ایران از یک
    طرف و عدم کسب مهارت‌های تخصصی توسط کارجویان از طرف دیگر، این موضوع را به یک
    مسئله بزرگ در جامعه تبدیل کرده است.
  </p>
</section>
