<!-- company info -->
<div class="aboutSeo">
  <div class="aboutSeo__heading">
    <a href=""><h4>درباره شرکت</h4></a>
  </div>
  <div class="aboutSeo__body">
    <div class="aboutSeo__body__subject">
      <div class="aboutSeo__body__subject__amount">
        <h4>اندازه سازمان</h4>
        <div class="aboutSeo__body__subject__amount__detail">
          <h5>11 تا 50 نفر</h5>
        </div>
      </div>
      <div class="aboutSeo__body__subject__profession">
        <h4>صنعت</h4>
        <div class="aboutSeo__body__subject__profession__detail">
          <h5>تولیدی / صنعتی</h5>
        </div>
      </div>

      <div class="aboutSeo__body__subject__empty"></div>
    </div>
    <div class="aboutSeo__body__trigger">
      <div class="aboutSeo__body__trigger__services">
        <h4>خدمات و محصولات</h4>
        <h5>پروژه های اداری و طراحی</h5>
      </div>
      <div class="aboutSeo__body__trigger__info">
        <h4>توصیف شرکت</h4>
        <h5>در زمینه تولید منسوجات نبافته اسپان باند</h5>
      </div>
      <div class="aboutSeo__body__trigger__link">
        <h5>مشاهده سایر موقعیت های شغلی این سازمان</h5>
      </div>
    </div>
    <div class="closeBtn">
      <h4>توضیحات بیشتر</h4>
      <span><</span>
    </div>
  </div>
</div>
