<!-- job info -->
<div class="info">
  <div class="info__about">
    <h2>شرح شغل و وظایف</h2>
    <h5>
      سرپرستی خط تولید پارکت لمینیت جهت تولید انبوه و با کیفیت توانمندی جهت
      ارتباط و تعامل سازنده با سایر همکاران چابک با سرعت عکس العمل بالا جهت
      اداره خط تولید مسئولیت پذیر و وقت شناس تمام وقت محل کار: شهرک صنعتی سمنان
    </h5>
  </div>
  <div class="info__form">
    <h2>شرایط احراز شغل</h2>
    <div class="info__form__table">
      <div class="info__form__table__right">
        <h4>جنسیت</h4>
      </div>
      <div class="info__form__table__left">
        <h5>ترجیحا آقا</h5>
      </div>
    </div>
    <div class="info__form__table">
      <div class="info__form__table__right">
        <h4>سن</h4>
      </div>
      <div class="info__form__table__left">
        <h5>30 تا 40 سال</h5>
      </div>
    </div>
    <div class="info__form__table">
      <div class="info__form__table__right">
        <h4>خدمت سربازی</h4>
      </div>
      <div class="info__form__table__left">
        <h5>اتمام خدمت سربازی و یا معافیت از آن الزامی است</h5>
      </div>
    </div>
    <div class="info__form__table">
      <div class="info__form__table__right">
        <h4>تحصیلات</h4>
      </div>
      <div class="info__form__table__left">
        <div class="info__form__table__left__job-detail">
          <h4 class="info__form__table__left__color">کارشناسی</h4>
          <h5 class="info__form__table__left__color">|</h5>
          <h5 class="info__form__table__left__color">مهندسی نساجی</h5>
        </div>
      </div>
    </div>
  </div>
</div>
