<!-- job deatial -->
<section class="job-detail">
  <div class="job-explaination">
    <div class="job-explaination__img">
      <img src="./Assets/images/default-companyHeader.jpeg" alt="job-pic" />
    </div>
    <div class="job-explaination__part">
      <div class="job-explaination__detail">
        <div class="job-explaination__detail__company-logo">
          <img src="./Assets/images/لوگو سازمان 18397.png" alt="company-logo" />
        </div>
        <div class="job-explaination__detail__header">
          <div class="job-explaination__detail__header__title">
            <h1>کارمند اداری</h1>
            <h5 class="yekan">(25 روز پیش)</h5>
          </div>
          <div class="job-explaination__detail__header__fav-share">
            <img src="./Assets/images/share-alt-svgrepo-com.svg" alt="share" />
            <img
              src="./Assets/images/favorite-svgrepo-com.svg"
              alt="favorite"
            />
          </div>
          <div class="job-explaination__detail__header__company-name">
            <h2>شرکت نخبگان</h2>
          </div>
          <div class="job-explaination__detail__header__address">
            <h6>سمنان ، پارک علم و فناوری</h6>
            <h6>|</h6>
            <h6>تمام وقت</h6>
          </div>
        </div>
      </div>
      <div class="job-explaination__info">
        <div class="job-explaination__work-time">
          <h3>روز و ساعت کاری</h3>
          <h5>شنبه تا چهارشنبه ساعت 9 الی 17 پنجشنبه ساعت 9 الی 13</h5>
        </div>
        <div class="job-explaination__work-trip">
          <h3>سفرهای کاری</h3>
          <h5>-</h5>
        </div>
        <div class="job-explaination__benefits">
          <h3>مزایا و تسهیلات</h3>
          <h5>-</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="send-resume">
    <a href=""><h5>مشاهده رزومه</h5> </a>
    <button class="btn btn--secondary">
      <a href="">
        <h5>ارسال رزومه</h5>
      </a>
    </button>
  </div>
</section>
